*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "roboto","sans-serif";
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: var(-white);
    color: var(--black);
    font-weight: 400;
    font-style: normal;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    width: 100%;
}
.header{
    position: relative;
    min-height: 100 vh;
    overflow: hidden;
    z-index: 0;
}
/* .header:hover{
    right: 40px;
    left: 40px;
} */
.navigation{
    position: relative;
    z-index: 1;
    height: 80rem;
    line-height: 6rem;
}
.nav-centre{
    justify-content: space-between;
}
.nav-centre .nav-item:not(:last-child){
    margin-right: 0.5rem;
}
.nav-centre .nav-link{
    font-size: 1.8rem;
    padding: 1rem;
    color: black;
}
.nav-centre .nav-link:hover{
    color: green;
}
.nav-centre .hamBurger{
    display: none;
    font-size: 2.3rem;
    color: black;
    cursor: pointer;
}
.container {
    max-width: 115rem;
    margin-left: 80px;
    padding: 0;
    /* border: 1px solid black; */
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list .open{
    width: 100%;
    left: 0;
}
.nav-list .nav-item{
    margin: 0 0 1rem 0;
    width: 100%;
}
.nav-list .nav-link{
    font-size: 2rem;
    color:black;
}
.nav-centre .hamBurger{
    display: block;
    color: white;
    font-size: 3rem;
}
.hero, .heroSlider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    z-index: 1;
    text-align: center;
}
.header .content h1{
    font-weight: bold;
    font-size: 7rem;
    color: rgb(0, 128, 0);
    margin-bottom: 4rem;
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 10px;
}
.header .search{
    width: 70rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.header .search input{
    width: 100%;
    padding: 1rem 0;
    text-indent: 1rem;
    font-size: 1.6rem;
    outline: none;
    border: none;
    border-radius:5px;
    margin-right:1rem ;
}
.header .search a{
    display: inline-block;
    padding: 1.5rem 4rem;
    background-color: green;
    color: white;
    border-radius: 0.5rem ;
}

@media (max-width: 768px) {
    .nav-list{
        position: fixed;
        top: 12%;
        left: -100%;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
        height: 100%;
        max-width: 35rem;
        z-index: 100;
    }
}
@media (max-width: 996px) {
    .header .content h1{
        font-size: 5rem;
        margin-bottom: 2rem ;
    }
    .header .search{
        width: 100%;
    }
    .header .search input{
        padding: 1rem 0;
        font-size: 1.3rem;
    }
    .header .search a{
        padding: 1rem;
    }
}