:root{
 --green: #00e77f;
 --white: #fff;
 --light-white: #aaa;
 --black: #3d3d3d;   
--light-bg: #4b4b4b;
--alice-blue: hsl(210, 100%, 97%);
}
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: .2s linear;
    text-transform: capitalize;
}
a{
    text-decoration: none;
}
*::selection{
    background-color: var(--white);
    color: var(--black);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}
::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
 }
 
 ::-webkit-scrollbar-track{
    background-color: transparent;
 }
 
 ::-webkit-scrollbar-thumb{
    background-color: var(--green);
    border-radius: 5rem;
 }
 
body{
    font-family: "Roboto", sans-serif;
    background-color: var(--white);
    /* color: black;
    font-weight: 400;
    font-style: normal; */
}
section{
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    background-color: #dbffc1;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.25);
}
.header .flex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header .flex .logo{
    display: flex;
    align-items: center;
    color: var(--white);
}
.header .flex .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .flex .navbar a{
    color: var(--light-white);
    font-size: 2rem;
    margin: 0 10rem 0 0 ;
	transition: all .50s ease;
}
.header .flex .navbar a:hover{
    color: #1C6758;
}
#menu-btn{
    cursor: pointer;
    color: var(--black);
    font-size: 2.5rem; ;
    display: none;
}


.home{
    background-image: url("/images/cityscape-wuxi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    /* margin: 6rem 0 0 0; */
    /* left: 0; right: 0; */
}
.home .row{
    align-items: center;
    height: 100vh;
}
.home .row .content{
    position: absolute;
    top: 30%;
    text-align: center;
}
.home .row .image img{
width: 100%; 
}
.home .row .content h1{
    margin: 0 auto 20px auto;
    font-size: 5rem;
    color: #1C6758;
    justify-content: center;
 }
.home .row .content .search{
    position: relative;
    top: 0;
    width: 50%;
    margin: 0 auto;
    padding: 1.5rem 1.5rem;
    background-color: #1c675866;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.home .row .content .search input{
    width: 100%;
    padding: 1.5rem 0;
    text-indent: 1rem;
    font-size: 1.6rem;
    outline: none;
    border: none;
    border-radius:10px;
    margin-right:1rem ;
}

.home .row .col {
    position: relative;
    top: 40%;
    z-index: 2;
    display:flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 170px; */
    width: 75%;
    border-radius: 15px;
}
.home .row .col1 {
    overflow: hidden;
    position: relative;
    padding: 25px;
    width: 25%;
    height: 40vh;
    margin: 15px;
    text-align: justify;
    background-color: #a1ffc0;
    border-radius: 20px;
}
.home .row .col1 h2{
    text-align: center;
    font-size: 1.7rem;
    margin: 15px 0 15px 0;
    color: #1C6758;
    border-radius: 1rem ;
}
.home .row .col1:hover{
    z-index: 2;
    transform: scale(1.1);
}
.home .row .col1:hover .content1{
    top: 0px;
    left: 0;
    padding: 25px;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    text-align: justify;
    color: white;
    background-color: #1C6758;
    border-radius: 20px;
}
.home .row .col1 .content1{
    position: absolute;
    top: -250px;
    box-sizing: border-box;
}
.home .row .col1:hover .content1 h2{
    text-align: center;
    font-size: 1.7rem;
    margin: 15px 0 15px 0;
    border-radius: 1rem ;
    color: white;
}



.centreImg {
    margin: 10px auto 0 auto;
    width: 30%;
    display: block;
}

#btn{
    border: none;
    position: absolute;
    right: 35px;
    font-size: 1.5rem;
    display: inline-block;  
    padding: 1rem 3rem;
    background-color: #1C6758;
    color: white;
    border-radius: 1rem ;
}
#btn:hover{
    background-color: lightgray;
    color: green;
} 
.about{
    position: relative;
    top: 120px;
   background-color: hsl(192, 24%, 96%);}
.about .row1{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.about .row1 .image{
    flex: 1 1 40rem;
}
.about .row1 .image img{
    width: 100%;
}
.about .row1 .about-content{
    flex: 1 1 40rem;
    text-align: justify;
}
.about .row1 .about-content h3{
    text-align: center;
    font-size: 2rem;
    width: 110px;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    border: 1px solid #00c542;
    background-color: #dbffc1;
    color: #1C6758;
}
.about .row1 .about-content p{
    padding: 1rem 0;
    line-height: 1.5;
    font-size: 1.6rem;
    color: var(--black);
}
.contact-btn{
    display: inline-block;
    border-radius: 5rem;
    background-color: #1C6758;
    cursor: pointer;
    color:white;
    font-size: 1.5rem;
    padding:0.5rem 2rem;
 }
 
 .contact-btn:hover{
    background-color: var(--white);
    color:var(--black);
 }

 .services{
    position: relative;
    top: 120px;
 }
.all-services{
    display: flex;
    justify-items:center;
    align-items: center;
}
.services h4{
    margin: 0 0 1% 45%;
    font-size: 1.8rem;
    width: 10%;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    border: 1px solid #00c542;
    background-color: #dbffc1;
    color: #1C6758;
    text-align: center;
}
.services h1{
    color: #1C6758;
    font-size: 3rem;
    text-align: center;
}
.services .all-services .services-list{
    background-color: #1C6758;
    border-radius: .5rem;
    text-align: center; 
    padding:2rem;
    margin: 1rem 4rem 4rem 4rem;
    user-select: none;
 }
 
 .services .services-list img{
    height: 50px;
    width: 50px;
 }
 .services .services-list h3{
    margin:1.5rem 0;
    font-size: 2rem;
    color:var(--white);
 }
 
 .services .services-list p{
    line-height: 2;
    font-size: 1.6rem;
    color:whitesmoke;
 }

/* contact section */
.contact{
    position: relative;
    top: 100px;
}
 .contact h4{
    margin: 0 0 1% 45%;
    font-size: 1.8rem;
    width: 15%;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    border: 1px solid #00c542;
    background-color: #dbffc1;
    color: #1C6758;
    text-align: center;
}
 
.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
 }
 
 .contact .row .image{
    flex: 1 1 40rem;
 }
 
 .contact .row .image img{
    width: 75%;
 }
 
 .contact .row form{
    flex:1 1 40rem;
 }
 
 .contact .row form .box{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    background-color: #dbffc1;
    font-size: 1.5rem;
    color: #1C6758;
    padding:1.2rem;
    text-transform: none;
 }
 
 .contact .row form span{
    font-size: 1.6rem;
    color:red;
    position: relative;
 }
 .contact .row .text-danger{
    font-weight: bold;
    font-size: 1.5rem;
    color:red;
 }
 .contact .row form textarea{
    height: 120px;
}
 .contact .row form .button{
    border: none;
    font-size: 1.5rem;
    display: block;
    padding: 1rem 3rem;
    background-color: #1C6758;
    color: white;
    border-radius: 1rem ;
}
 
/* footer */
.footer{
    position: relative;
    top: 120px;
    color: var(--white);
    background-color: #1C6758;
    text-align: center;
    /* padding-bottom: 7rem; */
 }
 .footer .icons{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1.5rem;
     padding: 0 0 10px 0;
     margin: 2rem 0;
     width: 100%;
    }
    .footer .icons a{
        color: var(--white);
        font-size: 1.5rem;
        padding: 0 2rem;
    }
    .footer .icons a:hover{
        color: var(--green);
    }
    .footer .credit{
        padding-top: 2rem;
        border-top: 1px solid #9af0b777;
    font-size: 1.5rem;
    color:var(--white);
 }
 
 .footer .credit span{
    color:var(--green);
 }
 

 /* media queries */
 @media (max-width:1226px) {
     .home .row .content h1{
         margin: 0 auto 20px auto;
         font-size: 3.5rem;
         color: #1C6758;
         justify-content: center;
      }
      .home .row .col {
        position: relative;
        top: 55%;
      }
      
 }

@media (max-width:996px) {
    html{
        font-size: 55%;
           
    }
.home .row .content h1{
    margin: 0 auto 20px auto;
    font-size: 4rem;
    color: #1C6758;
    justify-content: center;
 }
.home .row .content .search input{
    width: 100%;
    padding: 1.5rem 0;
    text-indent: 1rem;
    font-size: 1.6rem;
    outline: none;
    border: none;
    border-radius:10px;
}
.home .row .col {
    position: relative;
    top: 55%;
    z-index: 3;
    display:flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 170px; */
    width: 50%;
    border-radius: 15px;
}
}   
@media (max-width:768px) {
#menu-btn{
    cursor: pointer;
    color: #1C6758;
    font-size: 2.5rem; ;
    display: inline-block;
}
#menu-btn.fa-times{
    transform: rotate(180deg);
}
.header .flex .navbar{
    position: absolute;
    top: 99%;
    display: block;
    left: 0; right: 0;
    border-top: .1rem solid var(--light-white);
    border-bottom: .1rem solid var(--light-white);
    background-color: #dbffc1;
     clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
} 
.header .flex .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
 .header .flex .navbar a{ 
    display: block;
    margin: 2rem;
    text-decoration: none;
    text-align: right;
} 
.home .row .content h3{
    font-size: 6rem;
 }

 .home .row .content h1
 {
     width: 100%;
     font-size: 6rem;
 }
}
@media (max-width:567px) {
    html{
        font-size: 50%;
           
    }
    .home .row .content h1
    {
        width: 100%;
        font-size: 5rem;
    }
    .home .row .content h3{
        font-size: 4rem;
    }
    .heading{
        font-size: 3rem;
    }
}